/* latin */
@font-face {
  font-family: 'Abrade';
  font-style: normal;
  font-weight: 800;
  src: local('Abrade'), url(https://sk-agency.github.io/clearsmilesorthodontics/Abrade-ExtraBold.woff2) format('woff2');
}
