/* latin */
@font-face {
  font-family: 'Abrade';
  font-style: normal;
  font-weight: 900;
  src: local('Abrade'), url(https://sk-agency.github.io/clearsmilesorthodontics/abrade.woff2) format('woff2');
}
